<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.yellow.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

        <style>
            .hero {
                text-align: center;
                background-image: url(/img/hero.jpg);
                min-height: 35vh;
                place-content: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            .herobg {
                background: -webkit-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: -o-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: -moz-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: radial-gradient(rgba(0, 0, 0, .55) 40%, transparent 100%);
                padding: 0.5rem;
                border-radius: 10px;
                font-size: 2rem;
                text-align: center;
            }
            thead { 
                display: none; 
            }
            figcaption {
                position: absolute;
                top: 5px;
                left: 5px;
                padding: 0.5em 1em !important;
                font-size: 0.75em;
                font-weight: bold;
                color: white;
                background-color: green;
                border-radius: 999px;
                text-align: center;
                color: white !important;
            }
            figure.tbd > figcaption {
                background-color: #fa6800 !important;
            }
            figure.summer > figcaption {
                background-color: var(--pico-primary-background) !important;
                color: var(--pico-primary-inverse) !important;
            }
            figure {
                position: relative;
                display: inline-block;
            }
            figure > img {
                max-height: 10rem;
            }
            td { 
                border: none !important;
                text-align: center;
            }
            .iframe-cal {
                height: 60vh !important;
                width: 100% !important;
                border:solid 1px #777; 
            }
        </style>

        {%- for path in config.extra_css %}
        <link href="{{ path | url }}" rel="stylesheet">
        {%- endfor %}
    </head>
    <body data-theme="dark">
        <div class="container">
            <nav data-theme="dark">
                <ul>
                    <li><img height="32" src="/img/logo.png" style="height: 32px !important;" /></li>
                </ul>
                {% if nav|length > 1 %}
                    <ul>
                    {% for nav_item in nav %}
                        <li class="{% if nav_item.active %}current{% endif %}">
                            <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </nav>
            <article class="container-fluid hero" data-theme="dark">
                <div class="herobg">
                    <h1>Pack 59 Den 6</h1>
                    <h2>Cinnaminson, NJ</h2>
                </div>
            </article>

            <article class="container-fluid" data-theme="light">
                <header><h2>Pack Links</h2></header>
                <div class="grid">
                    <a role="button" target="_blank" href="https://scoutbook.scouting.org/">ScoutBook</a>
                    <a role="button" target="_blank" href="https://pack59nj.org/">Pack Site</a>
                    <a role="button" target="_blank" href="https://www.facebook.com/groups/pack59cinnaminson/">Pack Facebook</a>
                    <a role="button" target="_blank" href="http://branchpike.com/mailman/listinfo/pack59_branchpike.com">Pack Email</a>
                </div>
            </article>

            <article class="container-fluid" data-theme="light">
                <header><h2>Pack Calendar from ScoutBook</h2></header>
                <iframe 
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&src=aW5xcTBmZms5aDJndWQ5dWl1N2swMHIxcHNldWJxdjZAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F2DF0D"
                    class="iframe-cal"
                    width="100%" 
                    height="600" 
                    frameborder="0" 
                    scrolling="no"></iframe>
            </article>

            <article class="container-fluid" data-theme="light" style="min-height: 85vh;">
                {{ page.content }}

                {%- for script in config.extra_javascript %}
                {{ script | script_tag }}
                {%- endfor %}
            </article>

            <article class="container-fluid" data-theme="light">
                <header><h2>The Basics FAQ</h2></header>
                <details>
                    <summary role="button">What is a den versus a pack?</summary>
                    <p><b>The Den</b> is the small group within the same age group</p>
                    <p><b>The Pack</b> is comprised of all dens together with their leaders and families</p>
                    <p>You can read more about how Cub Scouts is organized <a href="https://www.scouting.org/programs/cub-scouts/how-cub-scouting-is-organized/" target="_blank">here</a>.</p>
                </details>

                <details>
                    <summary role="button">What do Class A and B Uniforms mean?</summary>
                    <p><b>Class B</b> uniforms are the blue t-shirts and are worn to most den meetings</p>
                    <p><b>Class A</b> uniforms are the full button sown shirt with patches and worn to official events and pack meetings</p>
                </details>

                <details>
                    <summary role="button">Where and when are meetings held?</summary>
                    <p>Most Den meetings are held at Covenant Presbyterian Church at 2618 New Albany Rd, Cinnaminson, NJ 08077</p>
                    <p>Most Pack meetings are across the street from the Church at New Albany School.</p>
                    <p>Be sure to check the calendar for each event in case the location changes.</p>
                    <p>For the <b>Webelo</b> year (2025-26 school year), most Den meetings are held on the 1st and 3rd Wednesday of the month in the Church at 6:30pm, unless explicitly told otherwise.</p>
                    <p>Pack meetings vary, but is typically the 3rd Fri of the month. Check the Pack Calendar above for more details.</p>
                </details>

                <details>
                    <summary role="button">What is proper patch placement?</summary>
                    <p>You can see a visual representation <a href="https://cubscoutideas.com/1276/cub-scout-uniform-patch-placement/" target="_blank">here</a>.</p>
                </details>

            </article>

            <article class="container-fluid" data-theme="light">
                <header><h2>Bobcat FAQ</h2></header>

                <details>
                    <summary role="button">What is the Scout Law?</summary>
                    <center>
                        <p><u><b>A Scout is:</b></u></p>
                        <p>Trustworthy</p>
                        <p>Loyal</p>
                        <p>Helpful</p>
                        <p>Friendly</p>
                        <p>Courteous</p>
                        <p>Kind</p>
                        <p>Obedient</p>
                        <p>Cheerful</p>
                        <p>Thrifty</p>
                        <p>Brave</p>
                        <p>Clean</p>
                        <p>Reverent</p>
                    </center>
                    <p>Read more <a href="https://www.scouting.org/about/faq/question10/" target="_blank">here</a>.</p>
                </details>

                <details>
                    <summary role="button">What is the Scout Oath?</summary>
                    <center>
                        <p>On my honor, I will do my best</p>
                        <p>To do my duty to God and my country and to obey the Scout Law;</p>
                        <p>To help other people at all times;</p>
                        <p>To keep myself physically strong, mentally awake and morally straight.</p>
                    </center>
                    
                    <p>The three points of the oath are <b>duty to God and Country</b>, then <b>duty to others</b>, and finally <b>duty to self</b>.</p>
                </details>

                <details>
                    <summary role="button">What is the Scout Motto?</summary>
                    <center>
                        <p><b>Do Your Best!</b></p>
                    </center>
                </details>

            </article>

            <article class="container-fluid" data-theme="light">
                <header><h2>Events and Activities FAQ</h2></header>

                <details>
                    <summary role="button">How do I sign up to sell popcorn?</summary>
                    <p>Popcorn sales are handled via <a href="https://portal.trails-end.com/" target="_blank">Trails End</a> and 15% of proceeds directly go into your Scout Account.</p>
                    <p>More details on the <a href="https://sites.google.com/site/njpack59/fundraising/popcorn/popcorn-resources?authuser=0" target="_blank">pack site</a>.</p>
                    <p>When signing up, you will create an account on the Trails End website. Enter that you are:
                         <code>Garden State Council</code> and <code>Pinelands</code> district and <code>Pack 4059</code>. This should create a sign up code of <code>Q8VYD</code>.
                        Now you have an account that benefits the Pack and you can sell at shifts using the app. However if you want your scout to get credit for online purchases, there 
                        is a <code>Scout Code</code> you will need to give others so your scout gets full credit from online purchases.</p>
                </details>

                <details>
                    <summary role="button">How does Scouting for Food work?</summary>
                    <p>On the second Saturday of November, scouts will meet at Covenant Presbyterian Church at 9am to pick up route assignments.</p>
                    <p>Scouts and their families will get one or more packets of maps.</p>
                    <p>On that 2nd Saturday of November, scouts will deliver a door hanger and plastic bag to each house on their map(s)</p>
                    <p>On the third Saturday of November, scouts will revisit the same houses from the same maps to pick up all donated food items. If you cannot make both weeks, please contact Scout Leaders to handle reassignments. There is no need to meet together at the Church, go directly to your assigned routes after 9am</p>
                    <p>ALl items are then delivered to our rally point. Scout leadership will share the address. You will be asked to drop off all food, a count of items, and how many hours scouts and adults volunteered.</p>
                    <p>If you miss the drop off time, deliver directly to the Food Bank of South Jersey at 692 Rancocas Road Westampton, NJ 08060</p>
                    <p>This is organized through our associated Scouts BSA Troop, Troop 70.</p>
                    <div class="grid">
                        <img src="/img/sff_01.jpg" />
                        <img src="/img/sff_02.jpg" />
                    </div>
                </details>

                <details>
                    <summary role="button">What are the rules for Pinewood Derby?</summary>
                    <p>There are a lot of rules about the size, shape, weight, and composition of Pinewood Derby Cars. Our pack has the rules listed on 
                        their site <a href="https://sites.google.com/site/njpack59/activities/pinewood-derby?authuser=0" target="_blank">here</a>.</p>
                </details>

                <details>
                    <summary role="button">What forms do I need for camping?</summary>
                    <p>For all scouting activities (tours and camping trips less than 72 hours), all scouts and adult participants must complete medical forms A and B and turn in to the leader prior to attending. 
                        They can be downloaded <a href="https://filestore.scouting.org/filestore/HealthSafety/pdf/680-001_AB.pdf" target="_blank">here</a>.</p>
                    <p>All events longer than 72 hours also require section C (a pre-participation physical) completed by a doctor. You can get form ABC
                        <a href="https://filestore.scouting.org/filestore/HealthSafety/pdf/680-001_ABC.pdf" target="_blank">here</a>.</p>
                </details>

                <details>
                    <summary role="button">Any other forms I may need?</summary>
                    <ul>
                        <li>You can register for the Pack or request more information about registration <a href="https://beascout.scouting.org/list/?zip=08077&program%5B0%5D=pack&cubFilter=all&miles=1" target="_blank">here</a>.</li>
                        <li>For all scouting activities (tours and camping trips less than 72 hours), all scouts and adult participants must complete medical forms A and B and turn in to the leader prior to attending. 
                            They can be downloaded <a href="https://filestore.scouting.org/filestore/HealthSafety/pdf/680-001_AB.pdf" target="_blank">here</a>.</li>
                        <li>All events longer than 72 hours also require section C (a pre-participation physical) completed by a doctor. You can get form ABC
                            <a href="https://filestore.scouting.org/filestore/HealthSafety/pdf/680-001_ABC.pdf" target="_blank">here</a>.</li>
                        <li>To get reimbursement from the Pack, use <a href="https://drive.google.com/file/d/1gQWsM_TTf7kvOXfS4RNjnlZ9N9ze6jne/view?usp=drive_web" target="_blank">this form</a>.</li>
                        <li>The Pack Family Orientation Guide can be found <a href="https://drive.google.com/file/d/1HSGyeIclTYVwQN02_GHKgMLCAp79QSo8/view?usp=drive_web" target="_blank">here</a>.</li>
                    </ul>
                </details>

            </article>
        </div>
    </body>
</html>