<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.yellow.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

        <style>
            .hero {
                text-align: center;
                background-image: url(/img/hero.jpg);
                min-height: 35vh;
                place-content: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            .herobg {
                background: -webkit-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: -o-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: -moz-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: radial-gradient(rgba(0, 0, 0, .55) 40%, transparent 100%);
                padding: 0.5rem;
                border-radius: 10px;
                font-size: 2rem;
                text-align: center;
            }
        </style>

        {%- for path in config.extra_css %}
        <link href="{{ path | url }}" rel="stylesheet">
        {%- endfor %}
    </head>
    <body data-theme="dark">
        <div class="container">
            <nav data-theme="dark">
                <ul>
                    <li><img height="32" src="/img/logo.png" style="height: 32px !important;" /></li>
                </ul>
                {% if nav|length > 1 %}
                    <ul>
                    {% for nav_item in nav %}
                        <li class="{% if nav_item.active %}current{% endif %}">
                            <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </nav>
            <article class="container-fluid hero" data-theme="dark">
                <div class="herobg">
                    <h1>Pack 59 Den 6</h1>
                    <h2>Cinnaminson, NJ</h2>
                </div>
            </article>

            <article class="container-fluid" data-theme="light">
                <header><h2>Pack Links</h2></header>
                <div class="grid">
                    <a role="button" target="_blank" href="https://scoutbook.scouting.org/">ScoutBook</a>
                    <a role="button" target="_blank" href="https://advancements.scouting.org/calendar">Pack Calendar</a>
                    <a role="button" target="_blank" href="https://sites.google.com/site/njpack59/">Pack Site</a>
                    <a role="button" target="_blank" href="https://www.facebook.com/Pack59nj/">Pack Facebook</a>
                    <a role="button" target="_blank" href="http://branchpike.com/mailman/listinfo/pack59_branchpike.com">Pack Email</a>
                </div>
            </article>

            <article class="container-fluid" data-theme="light" style="min-height: 85vh;">
                {{ page.content }}

                {%- for script in config.extra_javascript %}
                {{ script | script_tag }}
                {%- endfor %}
            </article>

            <article class="container-fluid" data-theme="light">
                <header><h2>FAQ</h2></header>
                <details>
                    <summary role="button">What is a den versus a pack?</summary>
                    <p><b>The Den</b> is the small group within the same age group</p>
                    <p><b>The Pack</b> is comprised of all dens together with their leaders and families</p>
                </details>

                <details>
                    <summary role="button">What do Class A and B Uniforms mean?</summary>
                    <p><b>Class B</b> uniforms are the blue t-shirts and are worn to most den meetings</p>
                    <p><b>Class A</b> uniforms are the full button sown shirt with patches and worn to official events and pack meetings</p>
                </details>

                <details>
                    <summary role="button">Where are meetings held?</summary>
                    <p>Most Den meetings are held at Covenant Presbyterian Church at 2618 New Albany Rd, Cinnaminson, NJ 08077</p>
                    <p>Most Pack meetings are across the street from the Church at New Albany School.</p>
                    <p>Be sure to check the calendar for each event in case the location changes.</p>
                </details>

                <details>
                    <summary role="button">When are meetings held?</summary>
                    <p>For the Bear year (2024-25 school year), most Den meetings are held on the 1st and 3rd Thursday of the month unless excplicitly told otherwise.</p>
                    <p>Pack meetings vary. Check the Pack Calendar above for more details.</p>
                </details>

                <details>
                    <summary role="button">What is proper patch placement?</summary>
                    <p>The following descriptions will use Left/Right in relation to the scout WEARING the uniform, not the onlooker looking at the uniform:</p>
                    <p>On the scout's LEFT sleeve, top is the Council Patch. Below that is 59 for our pack.</p>
                    <p>On the scout's RIGHT sleeve, top is the American Flag with the stars facing the back, not forward. Below that is the Den 6 patch.</p>
                    <p>On the FRONT LEFT pocket is the rank patches arranged in a diamond. The top tip is position 1 (12:00), below to the left position 2 (9:00), to the right position 3 (3:00), bottom tip of the diamond is position 4 (6:00).</p>
                    <p>These should be filled in the order they were obtained. So if you were a scout from the very beginning several years ago, it will fill 
                        Bobcat, Tiger, Wolf, and an empty slot for Bear as we have not acheived it. Additionally, Lion as a rectangle patch would be below this diamond formation.</p>
                    <p>If your scout is older after Bobcat rank was removed, you may have a Lion patch that fits in the diamond formation rather than a rectangle below.</p>
                    <p>You can see a visual representation <a href="https://cubscoutideas.com/1276/cub-scout-uniform-patch-placement/" target="_blank">here</a>.</p>
                </details>

                <details>
                    <summary role="button">How do I sign up to sell popcorn?</summary>
                    <p>Popcorn sales are handled via <a href="https://portal.trails-end.com/" target="_blank">Trails End</a> and 15% of proceeds directly go into your Scout Account.</p>
                    <p>More details on the <a href="https://sites.google.com/site/njpack59/fundraising/popcorn/popcorn-resources?authuser=0" target="_blank">pack site</a>.</p>
                    <p>When signing up, you will create an account on the Trails End website. Enter that you are:
                         <code>Garden State Council</code> and <code>Pinelands</code> district and <code>Pack 4059</code>. This should create a sign up code of <code>Q8VYD</code>.
                        Now you have an account that benefits the Pack and you can sell at shifts using the app. However if you want your scout to get credit for online purchases, there 
                        is a <code>Scout Code</code> you will need to give others so your scout gets full credit from online purchases.</p>
                </details>
            </article>
        </div>
    </body>
</html>