<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.yellow.min.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

        {%- for path in config.extra_css %}
        <link href="{{ path | url }}" rel="stylesheet">
        {%- endfor %}
    </head>
    <body data-theme="light">
        <div class="container">
            <nav data-theme="dark">
                <ul>
                    <li><img height="32" src="/img/logo.png" style="height: 32px !important;" /></li>
                </ul>
                {% if nav|length > 1 %}
                    <ul>
                    {% for nav_item in nav %}
                        <li class="{% if nav_item.active %}current{% endif %}">
                            <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </nav>
            <article class="container-fluid" data-theme="dark" style="text-align: center;
            background-image: url(/img/hero.jpg);
            min-height: 35vh;
            place-content: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;">
                <div style="    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: -o-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: -moz-radial-gradient(rgba(0, 0, 0, 0.55) 40%, transparent 100%);
                background: radial-gradient(rgba(0, 0, 0, .55) 40%, transparent 100%);
                padding: 0.5rem;
                border-radius: 10px;
                font-size: 2rem;
                text-align: center;">
                    <h1>Pack 59 Den 6</h1>
                    <h2>Cinnaminson, NJ</h2>
                </div>
            </article>
            <article class="container-fluid" data-theme="light" style="min-height: 85vh;">
                {{ page.content }}

                {%- for script in config.extra_javascript %}
                {{ script | script_tag }}
                {%- endfor %}
            </article>
        </div>
    </body>
</html>